<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Provider see appointments</title>
</head>
<body>
<b><i>Ongoing Appointment</i></b>
<HR>
<b> <i> Patient_Name || Time || User_accepted || User_cancelled || User_showedup </i></b>
    <br>
    {% for rows in appointments %}
        {{ rows }}
        <br>
    {% endfor %}

<HR>
<b><i>NOT ACCEPTED Appointment</i></b>
<HR>
<b> <i> Patient_Name || Time || User_accepted || User_cancelled || User_showedup </i></b>
    <br>
    {% for rows in NOT_ACCEPTED %}
        {{ rows }}
        <br>
    {% endfor %}

<HR>
<b><i>CANCELLED Appointment</i></b>
<HR>
<b> <i> Patient_Name || Time || User_accepted || User_cancelled || User_showedup </i></b>
    <br>
    {% for rows in CANCELLED %}
        {{ rows }}
        <br>
    {% endfor %}

</body>
</html>