<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Provider see appointments</title>
</head>
<body>
<b><i>Ongoing Appointment</i></b>
<table summary="Available Appointment">
    <th>Patient SSN</th>
    <th>slotid</th>
    <th>User_accepted</th>
    <th>User_cancelled</th>
    <th>User_showedup</th>
    {% for rows in appointments %}
        <tr>
            <td>{{ rows.ssn }}</td>
            <td>{{ rows.slotid }}</td>
            <td>{{ rows.user_accepted }}</td>
            <td>{{ rows.user_canceled }}</td>
            <td>{{ rows.user_showedup }}</td>
        </tr>
    {% endfor %}
</table>
<HR>
<b><i>NOT ACCEPTED Appointment</i></b>
<table summary="NOT ACCEPTED Appointment">
    <th>Patient SSN</th>
    <th>slotid</th>
    <th>User_accepted</th>
    <th>User_cancelled</th>
    <th>User_showedup</th>
    {% for rows in NOT_ACCEPTED %}
        <tr>
            <td>{{ rows.ssn }}</td>
            <td>{{ rows.slotid }}</td>
            <td>{{ rows.user_accepted }}</td>
            <td>{{ rows.user_canceled }}</td>
            <td>{{ rows.user_showedup }}</td>
        </tr>
    {% endfor %}
</table>
</table>
<HR>
<b><i>CANCELLED Appointment</i></b>
<table summary="CANCELLED Appointment">
    <th>Patient SSN</th>
    <th>slotid</th>
    <th>User_accepted</th>
    <th>User_cancelled</th>
    <th>User_showedup</th>
    {% for rows in CANCELLED %}
        <tr>
            <td>{{ rows.ssn }}</td>
            <td>{{ rows.slotid }}</td>
            <td>{{ rows.user_accepted }}</td>
            <td>{{ rows.user_canceled }}</td>
            <td>{{ rows.user_showedup }}</td>
        </tr>
    {% endfor %}
</table>

</body>
</html>