<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>USER API</title>
</head>
<body>
<br>

<form action="/CovidVaccine/ProviderSeeAppointments" method="POST" >
    <input type = "hidden" name = "pid" value={{ pid }}>
    <input type="submit" value="See your appointments">
</form>
<HR>

<form action="/CovidVaccine/ProviderSchedule" method="POST" >
    <input type = "hidden" name = "pid" value={{ pid }}>
    <input type="submit" value="Add your appointments">
</form>

<br>
<br>
Other functions
</body>
</html>