<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UserLogin</title>
</head>
<body>
 <form action="/CovidVaccine/UserAPI" method="post" >
  <label for="Email">User Email:</label><br>
  <input type="text" id="Email" name="Email" value="John"><br>
  <label for="Password">User Password:</label><br>
  <input type="text" id="Password" name="Password" value="Doe"><br><br>
  <input type="submit" value="Submit">
</form>


New User?
 <br>
 <a href="/CovidVaccine/UserRegister"> Click me for register </a>
</body>
</html>