<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UserLogin</title>
</head>
<body>
 <form action="/CovidVaccine/UserAPI">
  <label for="fname">User Email:</label><br>
  <input type="text" id="fname" name="fname" value="John"><br>
  <label for="lname">User Password:</label><br>
  <input type="text" id="lname" name="lname" value="Doe"><br><br>
  <input type="submit" value="Submit">
</form>


New User?
 <br>
 <a href="/CovidVaccine/UserRegister"> Click me for register </a>
</body>
</html>