<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Register</title>
</head>
<body>


<form action="/CovidVaccine/UserRegisterDataInput" method="post">
    <b><i>Personal Infomation</i></b> <br>
    <label for="name">Please Enter Your name:</label><br>
    <input type="text" id="name" name="name" value=""><br>
    <label for="SSN">Please Enter your Social Security Number:</label><br>
    <input type="text" id="SSN" name="SSN" value=""><br>
    <label for="Age">Please Enter your Age: Format</label><br>
    <input type="text" id="Age" name="Age" value=""><br>
    <label for="Phone">Please Enter your Phone Number: </label><br>
    <input type="text" id="Phone" name="Phone" value=""><br>
    <label for="Email">Please Enter Your Email Address (This will used for login):</label><br>
    <input type="text" id="Email" name="Email" value=""><br>
    <label for="Password">Please Enter Your Password (This will used for login):</label><br>
    <input type="text" id="Password" name="Password" value=""><br>
    <HR>
    <b><i>Address Information</i></b> <br>
    <label for="Street">Please Enter Your Street:</label><br>
    <input type="text" id="Street" name="Street" value=""><br>
    <label for="city">Please Enter Your city:</label><br>
    <input type="text" id="city" name="city" value=""><br>
    <label for="State">Please Enter Your State:</label><br>
    <input type="text" id="State" name="State" value=""><br>
    <label for="Zipcode">Please Enter Your Zipcode:</label><br>
    <input type="text" id="Zipcode" name="Zipcode" value=""><br>
    <label for="LocationX">Please Enter Your LocationX:</label><br>
    <input type="text" id="LocationX" name="LocationX" value=""><br>
    <label for="LocationY">Please Enter Your LocationY:</label><br>
    <input type="text" id="LocationY" name="LocationY" value=""><br>
    <HR>
    <input type="submit" value="Submit">
</form>

</body>
</html>